/*ABOUT US section*/

.about {
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
    /* border: white solid; */
    margin-bottom: 20px;
}

.about .about__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: blue solid; */
}

.about .about__container .about__image{
    flex:1 1 40rem;
    /* display: flex;
    justify-content: center; */
    width: 50%;
    max-width: 400px;
    margin: 20px 50px;
}

.about .about__container .about__img{    
    width:100%;
    height: auto;
}

/*description*/
.about .about__container .about__content{
    flex: 1 1 40rem;
    /* border: green solid; */
    display: flex;
    align-self: stretch;
    font-size: 14px;   
}

.about .about__container .about__content p{
    /* padding:1rem 0; */
    width: 100%;
    height: auto;
    /* border: purple solid; */
    padding-top: 10px;
    padding-right: 30px; 
    font-size: 14px; 
    margin: 0 50px;
    
}

.about__text {
    line-height: 2rem;
}
