/* FEATURE section */

.feature {
    background-image: url("../img/needhelp.png");
    background-size: cover;
    margin-bottom: 40px;
    height: 600px;
    width: 100%;
    position: relative;
}

.feature .feature__container {
  margin: auto 10%;
  height: 100%;
  display: flex;
  align-items: center;
}

.feature .feature__container .feature__content .h1__des {
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.feature .feature__container .feature_image_container {
  height: 100%;
}

.feature .feature__container .feature_image_container .feature_img {
  display: none;
  position: absolute;
  top: -65px;
}

.feature .feature__container .feature_contact_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.feature .feature__container .feature_contact_container .feature_contact_element {
  width: 25%;
}
