/*INTRO SECTION*/
.intro{
    display: flex;
    align-items: center;
    background: black;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}

.intro .intro__container {
  display: flex;
  flex-direction: column;
  margin: 10% 20%;
  flex-wrap: wrap;
  width: 100%;

} 

.intro__heading {
  margin-bottom: 10px;
}

.intro .main__btn {
  border-radius: 26.5px;
  padding: 8px;
  background: linear-gradient(#c70304, #8c0102);
  margin-top: 20px;
  border: none;
  width: 100%;
}

.main__btn:hover {
  background: linear-gradient(#580000, #700202);
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}
