@import url("./services.css");
@import url("./intro.css");
@import url("./aboutus.css");
@import url("./feature.css");
@import url("./contacts.css");
@import url("./footer.css");
@import url("./navbar.css");
@import url("./popup.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    color: #fff;
    background: url(/img/fon.png), black no-repeat 0 0;
    background-size: cover;
    font-family: Roboto;
  }

  a {
    text-decoration: none;
    color: white;
  }

    h1 {
      font-size: 22px;
    }
    h3 {
      font-size: 18px;
    }

    h4, button {
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }

    @media screen and (min-width: 450px) {
      h1 {
        font-size: 26px;
      }
      h3 {
        font-size: 20px;
      }
      .services .services__container,
      .about .about__container,
      .feature .feature__container,
      .contacts .contacts__container,
      .footer .footer__container,
      .navbar .navbar__container {
        margin: 0 20%;
      }
      .intro{
        background-position: 60%;
    }
    }

    @media screen and (min-width: 600px) {
      .intro .intro__container {
        width: auto;
      } 
      .intro .main__btn, .services .services__container .main__btn {
        width: auto;
        padding: 10px 15px;
      }
      .services .services__container .services__card {
        min-width: 360px;
      }
      .services__container .services__card .main__btn {
        bottom: 40px;
      }
    }

    @media screen and (min-width: 768px) {
        h1 {
          font-size: 32px;
        }
        h3 {
          font-size: 26px;
        }
        h4 {
          font-size: 20px;
        }
        p, button {
          font-size: 18px;
        }
        .services .services__container,
        .about .about__container,
        .feature .feature__container,
        .contacts .contacts__container,
        .footer .footer__container,
        .navbar .navbar__container,
        .contacts__map .map_inside_container {
          margin: 0 15%;
        }
        .feature .feature__container .feature_contact_container {
          flex-direction: row;
        }
    }
    
    @media screen and (min-width: 1023px) {
      .contacts {
        padding-bottom: 3rem;
        margin-bottom: 40px;
      }
      .contacts .contacts__container {
        flex-direction: row;
      }

      .contacts .map_inside_container {
        display: block;
      }
      
      .contacts .map_outside_container {
          display: none;
      }
      .footer {
        height: 60px;
      }
      .footer .footer__container {
        flex-direction: row;
      }
      .footer__container .footer__phone {
        order: 2;
      }
    
      .footer__container .website__rights  {
          order: 1;
      }
      .popup__close {
        right: -35px;
        top: -30px;
        padding: 3px 0 0 9px;
        width: 35px;
        height: 35px;
        font-size: 20px;
      }
    }

    @media screen and (min-width: 1301px) {
      .intro {
        background-image: url("../img/img1.png");
      }
    }
    @media screen and (min-width: 1401px) {
      .feature {
        height: 400px;
      }
      .feature .feature__container .feature_image_container .feature_img {
        display: block;
      }
    }
    @media screen and (min-width: 1601px)  {
        h1 {
          font-size: 40px;
        }
        h3 {
          font-size: 30px;
        }
        h4 {
          font-size: 26px;
        }
        .intro .main__btn {
          font-size: 24px;
        }
        .about .about__container {
          flex-direction: row;
        }
        .about .about__container .about__image {
          margin-right: 30px;
        }
    }

    .contact_input, .contact_button {
      background-color: transparent;
      border: .5px white solid;
      border-radius: 26.5px;
      width: 200px;
      height: 40px;
      margin-top: 20px;
      margin-right: 10px;
    }
    .contact_input {
      text-align: center;
    }
    .contact_input, .contact_button, .contact_input::placeholder {
      color: white;
    }
    .contact_button:hover {
      background-color: white; 
      transition: all 0.3s ease;
    }
    
    .contact_text:hover {
      color: black;
    }